.PdfViewer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PdfViewer__container__document {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 800px;
  min-height: 400px;
  margin-bottom: 10px;
}

/* Pagination Controls Styles */
.Pagination__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

.Pagination__controls button {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.Pagination__controls button:hover:not(:disabled) {
  background-color: #0056b3; /* Darker blue on hover */
}

.Pagination__controls button:disabled {
  background-color: #cccccc; /* Grey background when disabled */
  cursor: not-allowed;
}

.Pagination__controls span {
  font-size: 14px;
  color: #333;
  margin: 0 10px;
}
